server {
        listen *:80;
        listen [::]:80;
        server_name dev.lina-narzisse.de *.dev.lina-narzisse.de;

    rewrite ^(.*) https://185.194.216.15$1 permanent;
}


server {
        listen *:443 ssl http2;
        ssl_protocols TLSv1.3 TLSv1.2;
        listen [::]:443 ssl http2;
        ssl_certificate /neawolf/mount/webserver_1/var/www/clients/client1/web2/ssl/web/lina-narzisse.de-le.crt;
        ssl_certificate_key /neawolf/mount/webserver_1/var/www/clients/client1/web2/ssl/web/lina-narzisse.de-le.key;

        server_name dev.lina-narzisse.de *.dev.lina-narzisse.de 185.194.216.15;

        root   /neawolf/web-dev/;


        client_body_buffer_size 10K;
        client_header_buffer_size 1k;
        client_max_body_size 200m;
        large_client_header_buffers 4 4k;
        client_body_timeout 12;
        client_header_timeout 12;
        keepalive_timeout 15;
        send_timeout 10;

            expires 1d;
            etag on;
            

        index index.html index.htm index.php index.cgi index.pl index.xhtml;


        location ~*  \.(jpg|jpeg|png|gif|ico|css|js|mp3|wav|html|htm|woff|woff2|webp)$ {
           expires 365d;
        }

        location ~*  \.(jpg|jpeg|png|gif|ico|css|js|mp3|wav|woff|woff2|webp)$ {
           expires 365d;
        }

        location ~* \.(xml)$ {
            expires 1h;
            add_header Content-Type "text/xml";
        }

        
        error_log /neawolf/web/log/dev-error.log;
        access_log /neawolf/web/log/dev-access.log combined;

        location ~ /\. {
            deny all;
        }

        location ^~ /.well-known/acme-challenge/ {
              access_log off;
              log_not_found off;
              auth_basic off;
              root /usr/local/ispconfig/interface/acme/;
              autoindex off;
              index index.html;
              try_files $uri $uri/ =404;
        }

        location = /favicon.ico {
            log_not_found off;
            access_log off;
            expires max;
            add_header Cache-Control "public, must-revalidate, proxy-revalidate";
        }

        location = /robots.txt {
            allow all;
            log_not_found off;
            access_log off;
        }

        location ~* \.(json|map)$ {
            allow all;
            log_not_found off;
            access_log off;
        }

        location ~* /(template|config|cache|assets) {
            deny all;
            log_not_found off;
            access_log off;
            return 404;
        }

        location ~* /web-backend-nea {
            log_not_found off;
            try_files $uri /web-backend-nea/index.php$is_args$args;
            include /etc/nginx/fastcgi_params;
            fastcgi_param PHP_VALUE open_basedir="/var/www/clients/client1/web2/web:/neawolf/web:/neawolf/web-dev";
            fastcgi_pass unix:/var/lib/php8.1-fpm/web2.sock;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_intercept_errors on;
            index  index.html index.htm index.php;
            http2_push_preload on;
        }

        location ~* /.* {
            log_not_found off;
            try_files $uri /index.php$is_args$args;
            include /etc/nginx/fastcgi_params;
            fastcgi_param PHP_VALUE open_basedir="/var/www/clients/client1/web2/web:/neawolf/web:/neawolf/web-dev";
            fastcgi_pass unix:/var/lib/php8.1-fpm/web2.sock;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_intercept_errors on;
            index  index.html index.htm index.php;
            http2_push_preload on;
        }

        location ~ \.php$ {
            try_files $uri =404;
            log_not_found off;
            include /etc/nginx/fastcgi_params;
            fastcgi_param PHP_VALUE open_basedir="/var/www/clients/client1/web2/web:/neawolf/web:/neawolf/web-dev";
            fastcgi_intercept_errors on;
            #
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            include fastcgi.conf;
            fastcgi_param HTTP_PROXY "";
            fastcgi_buffers 8 16k;
            fastcgi_buffer_size 32k;
            fastcgi_read_timeout 300s;
            client_body_buffer_size 128k;
            fastcgi_pass unix:/var/lib/php8.1-fpm/web2.sock;
            http2_push_preload on;
        }



        error_page 400 /error/400.php;
        error_page 401 /error/401.php;
        error_page 403 /error/403.php;
        error_page 404 /error/404.php;
        error_page 405 /error/405.php;
        error_page 500 /error/500.php;
        error_page 502 /error/502.php;
        error_page 503 /error/503.php;
        #error_page 503 /index.php;
        recursive_error_pages off;




}